[Unit]
Description=Sync Tinybeans photos
After=network-online.target

[Service]
Type=oneshot
User=__user__
Group=__group__
Environment="PATH=/home/__user__/.local/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/usr/bin/env tinybeans-sync --data /home/__user__/.config/tinybeans-sync/ --config /home/__user__/.config/tinybeans-sync/config.yaml --from-last-date --daemon
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
